.div-post-selected {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 20px;
  padding: 12px;
}

.div-coment-list{
  margin-top: 48px;
}

.div-button-add-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 24px;
}
