
.div-categorie{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 100px;
}


.text-categorie{
  font-size: 16px;
  font-weight: bolder;
  color: black;
}

.image-categorie{
  width: 32px;
}

.text-item-title{
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-bottom: 4px;
}

.div-post-texts{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
}

.div-post-details{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 12px;
  width: 160px;
}

.icon-details{
  margin-right: 8px;
}

.div-score{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.text-score{
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 700;
  color: black;
  font-size: 24px;
}

.icon-score{
  font-size: 16px;
  color: cornflowerblue;
}

.div-post-actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.title-categorie{
  width: 100px;
  text-align: center;
  font-weight: bold;
  color:#434242;
}
.title-description{
  width: 400px;
  text-align: center;
  font-weight: bold;
  color: #434242;
}
.title-details{
  width: 160px;
  text-align: center;
  font-weight: bold;
  color:#434242;
}

.title-score{
  width: 160px;
  text-align: center;
  font-weight: bold;
  color:#434242;
}

.title-actions{
  width: 160px;
  text-align: center;
  font-weight: bold;
  color:#434242;
}


