.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.sider-menu-layout {
  background-image: url("../../resources/img/sider_background.svg")
}

.short-logo {
  max-width: 40px;
}

.full-logo {
  max-width: 100px;
}

.img-categorie {
  width: 24px;
  margin-right: 8px;
}

.menu {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.menu-item{

}

.menu-item:hover{
  color: yellow;
}
